@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-overlay-color: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Didot';
  src: url('/fonts/Didot W01 Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fraunces';
  src: url('/fonts/Fraunces_120pt_SuperSoft-SemiBold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: 'Fraunces';
  src: url('/fonts/Fraunces_120pt_SuperSoft-SemiBold.ttf')format('ttf');
  font-weight: normal;
  font-style: normal;
} */

/* globals.css or styles.css */
html, body{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  color: var(--background);
  background-color: var(--bg-overlay-color);
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}

nav {
  font-family: 'Avenir', sans-serif;
  font-weight: 500;
}

.avenir {
  font-family: 'Avenir', sans-serif;
}

.didot {
  font-family: 'Didot', serif;
}

.fraunces {
  font-family: 'Fraunces', 'Didot', serif;
}

@media (max-width: 768px) {
  .logo-container {
      justify-content: center;
  }
}

@media (min-width: 769px) {
  .logo-container {
      justify-content: flex-start;
  }
}


/* Parallax container */
.parallax {
  background-attachment: fixed;
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: 50%; /* Ensures the entire image is visible */
}

.parallax-full {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; /* Ensures the entire image is visible */
}

@media (max-width: 768px) {
  .parallax {
    background-attachment: scroll; /* Disable fixed attachment on small screens */
    background-size: cover; /* Make the image cover the area, zooming in */
    background-position: center center; /* Center the image on smaller screens */
  }
}